ErzaScarlet/config.py
ErzaScarlet/*.session
ErzaScarlet/*.session-journal
ErzaScarlet/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
ErzaScarlet/modules/helper_funcs/temp.txt
ErzaScarlet/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
ErzaScarlet.session-journal
updates.txt
*.exe